@font-face {
    font-family: brittany;
    src: url('/font/BrittanySignature.ttf');
}
:root{
    --color-principal: #ec5749;
    --color-letra-subtitle: #E59890;
    --background-color-subtitle: #c55347;
    --font-family-principal: brittany;
    --font-family-alterna: "Dancing Script", cursive;
}
*{
    border: 0px;
    margin: 0px;
    box-sizing: content-box;
}
@media screen and (max-width: 500px) {
    
    /*header mobile*/
    header{
        color: var(--color-principal);
        font-size: 1rem;
        background-image: url(/img/manocorazon3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-weight: bold;
        text-align: center;
        font-family: brittany;
        display: flex;
        justify-content: center;
        margin: 0rem 2rem;
        box-shadow: 1rem 1rem 3rem #c55347;
        border-radius: 1rem;
    }
    .banner{
        display: none;
    }
    header img{
        width: 30%;
        height: 30%;
        border-radius: 1rem;
    }
    header a{
        color: var(--color-principal);
        text-decoration: none;
        font-size: 1.5rem;
    }
    /*body mobile*/
    body{
        background-image: url(/img/fondo\ rosa.avif);
        background-size: cover;
        background-attachment: fixed;
    }
    .subtitle h2{
        color:  #E59890;
        font-family: brittany;
        font-size: 2rem;
        text-align: center;
        background-color: #c55347;
        background-size: 40% 60%;
        font-weight: bold;
        height: 4rem;
        margin: 1rem 2rem;
        border-radius: 1rem;
    }
    .principal{
        display: flex;
        justify-content: center;
        font-family: brittany;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    .principal a{
        text-decoration: none;
    }
    .principal img{
        height: 27rem;
        width: 27rem;
        border-radius: 1rem;
    }
    .principal p{
        position: absolute;
        color: black;
        background-color: #c5544780;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 1rem;
    }
    .contenido-text{
        display: block;
        justify-content: center;
    }
    h3{
        color:  #E59890;
        background-color: #c55347;
        margin: 0 2rem;
        font-family: brittany;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        border-radius: 1rem;
    }
    .contenido-text p{
        background-color: #c5544780;
        margin: 0 2rem;
        border-radius: 1rem;
    }
    a{
        color: black;
        text-align: center;
        font-family: brittany;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
    }
    footer{
        display: flex;
        background-color: #c55347;
        margin: 1rem 0;
    }
    footer img{
        width: 3rem;
        height: 3rem;
        margin-right:0.5rem;
    }
    .pie-de-pagina{
        display: flex;
        width: 100%;
    }
    .pie-text{
        display: flex;
        flex-basis: 65%;
        justify-content: center;
    }
    .pie-text h3{
        margin: 1rem 0;
    }
    .pie-list{
        display: flex;
        justify-content: center;
        flex-basis: 20%;
        align-items: center;
        padding-top: 1rem;
    }
    .contenedor-lisos {
        display: flex;
        margin: 0 2rem;
    }
    .contenedor-lisos img, .contenedor-diseños img{
        height: 15rem;
        width: 15rem;
    }
    .contenedor-text-lisos{
        display: inline;
        justify-content: center;
        text-decoration: none;
    }
    .semi p{
        margin-bottom: 1rem;
    }
    .que-es-semi, .otra-opcion, .comentarios, .somos{
        margin: 0 2rem;
        color: black;
        text-align: center;
        font-family: var(--font-family-alterna);
        font-size: 1rem;
    }
    .colors, .list-diseños{
        font-family: var(--font-family-alterna);
        font-size: 1rem;
        text-align: center;
    }
    .comentarios{
        margin-top: 1rem;
    }
    .caja-de-comentarios textarea, .correo-enviar input{
        width: 100%;
        border: #c55347 solid 0.1rem;
    }
    .correo-enviar input{
        height: 1.5rem;
        margin-bottom: 0.3rem;
    }
    .enviar{
        margin-right: 0.5rem;
    }
    .somos, .subtitle{
        margin-top: 1rem;
    }
    .mapa {
        margin: 0 2rem;
    }
    .mapa iframe{
        width: 27rem;
        height: 27rem;
        margin-top: 0.5rem;
    }
    .contenedor-diseños{
        display: flex;
        margin:1rem 2rem;
    }
    .text-diseños li{
        list-style: none;
    }
    .masajes p{
        display: flex;
        margin: 2rem;
        font-family: var(--font-family-alterna);
    }
    .nuestros-masajes p{
        display: flex;
        margin: 2rem;
        font-family: var(--font-family-alterna);
    }
    .precios-masajes{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .podologia-que-es p{
        display: flex;
        margin: 1rem 2rem;
        font-family: var(--font-family-alterna);
    }
    .podologia p{
        display: flex;
        margin: 1rem 2rem;
        font-family: var(--font-family-alterna);
    }
    .precios-masajes table tr{
        font-family: var(--font-family-alterna);
    }
    .contenedor-podologia{
        margin-top: 1rem;
    }
    .somos p, .que-es-semi p{
        text-align: left;
        margin-top: 1rem;
    }
    .contenedor-promociones p{
        font-family: var(--font-family-alterna);
        justify-content: center;
        display: flex;
    }
    .contenedor-promociones{
        justify-content: center;
    
        margin: 2rem;
    }
    .contenedor-promociones img{
        display: flex;
        justify-content: center;
        width: 25rem;
        height: 25rem;
    }
    .contenedor-promociones h2{
        flex-basis: 100%;
    }
    .disclaimer{
        background-color: #E59890;
        margin: 1rem 0;
    }
    .selector-descuento{
        display: flex;
        justify-content: center;
        height: 2rem;
    }
    .promo{
        display: grid;
        justify-content: center;
    }
    .promo img{
        display: flex;
        justify-content: center;
    }
    .contenedor-promociones h2{
        font-family: var(--font-family-alterna);
        color: var(--background-color-subtitle);
        margin-bottom: 1rem;
    }
    .quien-sos label{
        font-family: var(--font-family-alterna);
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
}
/* header{
    color: var(--color-principal);
    font-size: 3rem;
    background-image: url(/img/manocorazon3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    text-align: center;
    font-family: brittany;
    display: flex;
    justify-content: center;
    margin: 0rem 2rem;
    box-shadow: 1rem 1rem 3rem #c55347;
    border-radius: 1rem;
}
.encabezado-principal{
    display: flex;
}
.item-encabezado{
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    align-items: center;
    margin: 0.5rem 7rem;
}
.banner{
    display: block;
}
.banner li{
    display: flex;
}
body{
    background-image: url(/img/fondo\ rosa.avif);
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}
.subtitle h2{
    color:  #E59890;
    font-family: brittany;
    font-size: 2.5rem;
    text-align: center;
    background-color: #c55347;
    background-position: center center;
    background-size: 40% 60%;
    font-weight: bold;
    height: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
h3{
    color:  #E59890;
    font-family: brittany;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
a{
    color:  #993024;
    font-family: brittany;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
header img{
    width: 15rem; height: 15rem;
    border-radius: 1rem;
}
.contenido-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.principal{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    position: relative;
}
.principal img{
    width: 35rem; height: 35rem;
    margin: 0.5rem;
}
.principal p{
    position: absolute;
    color: black;
    background-color: #c5544780;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contenido-text{
    display: flex;
    justify-content: center;
}
.somos-promo{
    flex-basis: 50%;
}
footer img{
    width: 3rem; height: 3rem;
}
footer{
    background-color: #c55347;
    justify-content: center;
}
.pie-de-pagina{
    display: flex;
}
.pie-text{
    display: flex;
    flex-basis: 50%;
    justify-content: right;
    margin-right: 0.5rem;
}
.pie-list{
    display: flex;
    flex-basis: 50%;
    justify-content: left;
    align-items: center;
    margin-left: 0.5rem;
}
.contenedor-text-lisos{
    display: block;
    flex-basis: 40%;
    justify-content: center;
}
.img-lisos{
    display: inline;
    justify-content: center;
    flex-basis: 60%;
    margin: 2rem;
}
.img-lisos img{
    width: 15rem; height: 15rem;
    margin: 0.3rem;
}
.contenedor-lisos{
    display: flex;
}
.otra-opcion{
    display: block;
    flex-basis: 100%;
}
.contenedor-text-lisos h3{
    color: var(--color-letra-subtitle);
    background-color: #c55347;
    padding: 0rem 1rem;
    margin: 2rem;
}
.contenedor-text-lisos p{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 1rem;
}
.colors{
    background-color: #E59890;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: var(--font-family-alterna);
}
.otra-opcion{
    display: flex;
    justify-content: center;
    font-family: var(--font-family-alterna);
}
.otra-opcion p{
    background-color: #c5544791;
}
.semi{
    font-family: var(--font-family-alterna);
    display: inline;
}
.semi p{
    display: flex;
    justify-content: center;
}
.comentarios{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.caja-de-comentarios{
    display: flex;
    margin-right: 2rem;
}
.correo-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
}
.enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    /*box-shadow: 1rem 1rem 3rem #c55347;
}
.semi p{
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
}
body main div h2{
    color:  #E59890;
    font-family: brittany;
    font-size: 2.5rem;
    text-align: center;
    background-color: #c55347;
    background-position: center center;
    background-size: 40% 60%;
    font-weight: bold;
    height: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.contenedor-diseños{
    display: flex;
}
.img-diseños{
    display: grid;
    flex-basis: 60%;
    margin: 2rem;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr));
    padding: 0.3rem;
}
.img-diseños img{
    width: 100%; height: 100%;
    margin: 0.3rem;
    object-fit: scale-down;
}
.text-diseños h3{
    color: var(--color-letra-subtitle);
    background-color: #c55347;
    padding: 0rem 1rem;
    margin: 2rem;
}
.text-diseños ul{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: grid;
    font-family: var(--font-family-alterna);
}
.text-diseños ul li{
    margin: 0.5rem;
}
.list-diseños{
    background-color: #E59890;
    margin-right: 2rem;
    margin-left: 2rem;
}
.masajes p{
    display: flex;
    margin: 2rem;
    font-family: var(--font-family-alterna);
}
.nuestros-masajes p{
    display: flex;
    margin: 2rem;
    font-family: var(--font-family-alterna);
}
.precios-masajes{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.podologia-que-es p{
    display: flex;
    margin: 2rem;
    font-family: var(--font-family-alterna);
}
.podologia p{
    display: flex;
    margin: 2rem;
    font-family: var(--font-family-alterna);
}
.precios-masajes table tr{
    font-family: var(--font-family-alterna);
}
.somos p{
    display: flex;
    margin: 2rem;
    font-family: var(--font-family-alterna);
}
.mapa{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.contenedor-promociones p{
    font-family: var(--font-family-alterna);
    justify-content: center;
    display: flex;
}
.contenedor-promociones{
    justify-content: center;

    margin: 2rem;
}
.contenedor-promociones img{
    display: flex;
    justify-content: center;
    width: 25rem;
    height: 25rem;
}
.contenedor-promociones h2{
    flex-basis: 100%;
}
.disclaimer{
    background-color: #E59890;
}
.selector-descuento{
    display: flex;
    justify-content: center;
}
.promo{
    display: grid;
    justify-content: center;
}
.promo img{
    display: flex;
    justify-content: center;
} /*