*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'complementos/variables';

@font-face {
    font-family: brittany;
    src: url('/font/BrittanySignature.ttf');
}
body{
    background-image: url(/img/fondo\ rosa.avif);
    background-size: cover;
    background-attachment: fixed;
}
@media screen and (max-width: 500px){
    header{
        color: var(--color-principal);
        font-size: 1rem;
        background-image: url(/img/manocorazon3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-weight: bold;
        text-align: center;
        font-family: brittany;
        display: flex;
        justify-content: center;
        margin: 1rem 2rem;
        box-shadow: 1rem 1rem 3rem #c55347;
        border-radius: 1rem;
        img{
            width: 30%;
            height: 30%;
            border-radius: 1rem;
        }
        a{
            color: var(--color-principal);
            text-decoration: none;
            font-size: 1.5rem;
        }
        #banner2{
            display: none;
        }
        #links{
            color:  #993024;
            font-family: brittany;
            font-size: 1.5rem;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            h1{
                font-weight: 900;
            }
        }
        .text-banner{
            display: grid;
        }
        .navbar, #banner{
            display: flex;
            justify-content: center;
        }
        .boton{
            width: 3rem;
            height: 3rem;
            border-radius: 1rem;
            background-color: var(--background-color-subtitle);
            border-radius: 1.3rem;
        }
        .banner{
            background-color: var(--color-letra-subtitle);
            border-radius: 1.3rem;
            padding: 0rem 1rem;
        }
    }
    body{
        h2{
            color:  #E59890;
            font-family: brittany;
            font-size: 2.5rem;
            text-align: center;
            background-color: #c55347;
            background-position: center center;
            background-size: 40% 60%;
            font-weight: bold;
            margin-left: 2rem;
            margin-right: 2rem;
            border-radius: 2rem;
        }
        .principal{
            display: flex;
            justify-content: center;
            font-family: brittany;
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            position: relative;
            margin-bottom: 0.5rem;
            a{
                text-decoration: none;
            }
            img{
                height: 27rem;
                width: 27rem;
                border-radius: 1rem;
            }
            p{
                position: absolute;
                color: black;
                background-color: #c5544780;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border-radius: 1rem;
            }
        }
        .contenido-text{
            display: block;
            justify-content: center;
            p{
                background-color: #c5544780;
                margin: 0 2rem;
            }
            .somos-promo{
                margin-bottom: 0.5rem;
            }
        }
        h3{
            color:  #E59890;
            background-color: #c55347;
            margin: 0 2rem;
            font-family: brittany;
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            border-radius: 1rem;
        }
        a{
            color:  #993024;
            font-family: brittany;
            font-size: 1.5rem;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
        }
        .contenedor-lisos {
            display: flex;
            margin: 0 2rem;
            img{
                height: 15rem;
                width: 15rem;
            }
        }
        .contenedor-diseños {
            margin-top: 1rem;
            display: flex;
            .img-diseños{
                display: grid;
                img{
                    height: 15rem;
                    width: 15rem;
                }
            }
            h3{
                padding: 1rem;
            }
        }
        .text-diseños{
            display: inline;
            justify-content: center;
            text-decoration: none;
            div{
                display: flex;
                justify-content: center;
                
                ul{
                    list-style: none;
                    background-color: var(--color-letra-subtitle);
                    border-radius: 2rem;
                    padding: 0;
                    margin: 0rem 2rem;
                }
            }
        }
        .contenedor-text-lisos{
            display: inline;
            justify-content: center;
            text-decoration: none;
            h3{
                padding: 1rem;
            }
            .colors{
                background-color: var(--color-letra-subtitle);
                margin: 0rem 2rem;
                border-radius: 2rem;
            }
        }
        .que-es-semi, .otra-opcion, .comentarios, .somos{
            margin: 0 2rem;
            color: black;
            text-align: center;
            font-family: var(--font-family-alterna);
            font-size: 1rem;
        }
        .colors, .list-diseños{
            font-family: var(--font-family-alterna);
            font-size: 1rem;
            text-align: center;
        }
        .comentarios{
            margin-top: 1rem;
            .caja-de-comentarios textarea, .correo-enviar input{
                width: 100%;
                border: #c55347 solid 0.1rem;
            }
            .correo-enviar input{
                height: 1.5rem;
                margin-bottom: 0.3rem;
            }
        }
        .masajes, .nuestros-masajes, .precios-masajes{
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
        } 
        .precios-masajes{
            display: flex;
            justify-content: center;
            font-family: var(--font-family-alterna);
            margin-bottom: 1.5rem;
        }
        .podologia, .podologia-que-es{
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
        }
        .contenedor-promociones{
            display: grid;
            justify-content: center;
            margin: 2rem;
            img{
                display: flex;
                justify-content: center;
                width: 25rem;
                height: 25rem;
                margin: 1rem 2rem;
            }
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
            h3{
                font-family: var(--font-family-alterna);
            }
            .disclaimer{
                display: flex;
                justify-content: center;
                background-color: #E59890;
                margin: 1rem 0;
            }
            .selector-descuento{
                display: flex;
                justify-content: center;
                height: 2rem;
                .itemm{
                    flex-wrap: wrap;
                }
            }
        }
        .promo{
            display: grid;
            justify-content: center;
            img{
                display: flex;
                justify-content: center;
            }
        }
        .somos{
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
        }
        .mapa {
            margin: 0 2rem;
        }
        .mapa iframe{
            width: 27rem;
            height: 27rem;
            margin-top: 0.5rem;
        }
    }
    footer{
        margin-top: 0.5rem;
        display: flex;
        background-color: #c55347;
        .pie-de-pagina{
            display: flex;
            width: 100%;
        }
        .pie-text{
            display: flex;
            flex-basis: 65%;
            justify-content: center;
            h3{
                margin: 1rem 0;
            }
        }
        .pie-list{
            display: flex;
            justify-content: center;
            flex-basis: 20%;
            align-items: center;
            img{
                display: flex;
                width: 3rem;
                height: 3rem;
                margin-right:0.5rem;
                justify-items: center;
            }
        }
    }
}

@media screen and (min-width: 501px){
    header{
        color: var(--color-principal);
        font-size: 1rem;
        background-image: url(/img/manocorazon3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-weight: bold;
        text-align: center;
        font-family: brittany;
        display: flex;
        justify-content: center;
        margin: 1rem 2rem;
        box-shadow: 1rem 1rem 3rem #c55347;
        border-radius: 1rem;
        
        .encabezado-principal{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 0;
            .item-encabezado{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                img{
                    width: 70%;
                    height: 70%;
                    border-radius: 1rem;
                }
                a{
                    color: var(--color-principal);
                    text-decoration: none;
                    font-size: 1.5rem;
                }
                
                #banner2{
                    display: flex;
                }
                #links{
                    color:  #993024;
                    font-family: brittany;
                    font-size: 1.5rem;
                    text-decoration: none;
                    text-align: center;
                    font-weight: bold;
                    h1{
                        font-weight: 900;
                    }
                }
                .text-banner{
                    display: grid;
                }
                .navbar, #banner{
                    display: none;
                }
            }
        }
    }  
    body{
        h2{
            color:  #E59890;
            font-family: brittany;
            font-size: 2.5rem;
            text-align: center;
            background-color: #c55347;
            background-position: center center;
            background-size: 40% 60%;
            font-weight: bold;
            margin-left: 2rem;
            margin-right: 2rem;
            border-radius: 2rem;
        }
        .contenido{
            .contenido-img{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
                .principal{
                    display: flex;
                    justify-content: center;
                    font-family: brittany;
                    font-size: 2rem;
                    text-align: center;
                    font-weight: bold;
                    position: relative;
                    margin-bottom: 0.5rem;
                    a{
                        text-decoration: none;
                    }
                    img{
                        height: 27rem;
                        width: 27rem;
                        border-radius: 1rem;
                    }
                    p{
                        position: absolute;
                        color: black;
                        background-color: #c5544780;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        border-radius: 1rem;
                    }
                }
            }
            .contenido-text{
                display: block;
                justify-content: center;
                p{
                    background-color: #c5544780;
                    margin: 0 2rem;
                }
                .somos-promo{
                    margin-bottom: 0.5rem;
                }
            }
        }
        
        h3{
            color:  #E59890;
            background-color: #c55347;
            margin: 0 2rem;
            font-family: brittany;
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            border-radius: 1rem;
        }
        a{
            color:  #993024;
            font-family: brittany;
            font-size: 1.5rem;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
        }
        .contenedor-diseños {
            display: grid;
            grid-template-columns: 60% 40%;
            justify-items: center;
            padding-top: 1rem;
            margin: 0 2rem;
            .img-diseños{
                display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem;    
                    img{
                        height: 25rem;
                        width: 25rem;
                    }
            }
            h3{
                padding: 1rem;
            }
        }
        .text-diseños{
            display: inline;
            justify-content: center;
            text-decoration: none;
            div{
                display: flex;
                justify-content: center;
                
                ul{
                    list-style: none;
                    background-color: var(--color-letra-subtitle);
                    border-radius: 2rem;
                    padding: 0;
                    margin: 0rem 2rem;
                }
            }
        }
        .contenedor-text-lisos{
            display: inline;
            justify-content: center;
            text-decoration: none;
            h3{
                padding: 1rem;
            }
            .colors{
                background-color: var(--color-letra-subtitle);
                margin: 0rem 2rem;
                border-radius: 2rem;
            }
        }
        .contenedor-lisos{
            display: grid;
            grid-template-columns: 60% 40%;
            justify-items: center;
            padding-top: 1rem;
            margin: 0 2rem;
                .img-lisos{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem;    
                    img{
                        height: 25rem;
                        width: 25rem;
                    }            
                }
            }
        .que-es-semi, .otra-opcion, .comentarios, .somos{
            margin: 0 2rem;
            color: black;
            text-align: center;
            font-family: var(--font-family-alterna);
            font-size: 1rem;
        }
        .colors, .list-diseños{
            font-family: var(--font-family-alterna);
            font-size: 1rem;
            text-align: center;
        }
        .comentarios{
            margin-top: 1rem;
            display: grid;
            
            justify-content: center;
            .caja-de-comentarios textarea, .correo-enviar input{
                width: 35rem;
                border: #c55347 solid 0.1rem;
            }
            .correo-enviar input{
                height: 1.5rem;
                margin-bottom: 0.3rem;
            }
        }
        .masajes, .nuestros-masajes, .precios-masajes{
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
        } 
        .precios-masajes{
            display: flex;
            justify-content: center;
            font-family: var(--font-family-alterna);
            margin-bottom: 1.5rem;
        }
        .podologia, .podologia-que-es{
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
        }
        .contenedor-promociones{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 2rem;
            img{
                display: flex;
                justify-content: center;
                width: 25rem;
                height: 25rem;
                margin: 1rem 2rem;
            }
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
            h3{
                font-family: var(--font-family-alterna);
            }
            .disclaimer{
                display: flex;
                justify-content: center;
                background-color: #E59890;
                margin: 1rem 0;
            }
            .selector-descuento{
                display: flex;
                justify-content: center;
                height: 2rem;
                .itemm{
                    flex-wrap: wrap;
                }
            }
            .promo{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    display: flex;
                    justify-content: center;
                }
            }
            .quien-sos{
                display: flex;
                justify-content: center;
            }
        }
        .somos{
            p{
                display: flex;
                margin: 1rem 2rem;
                font-family: var(--font-family-alterna);
            }
        }
        .mapa {
            display: flex;
            justify-content: center;
            margin: 0 2rem;
        }
        .mapa iframe{
            width: 27rem;
            height: 27rem;
            margin-top: 0.5rem;
        }
    }
    footer{
        margin-top: 0.5rem;
        display: flex;
        background-color: #c55347;
        .pie-de-pagina{
            display: flex;
            width: 100%;
        }
        .pie-text{
            display: flex;
            flex-basis: 65%;
            justify-content: center;
            h3{
                margin: 1rem 0;
            }
        }
        .pie-list{
            display: flex;
            justify-content: center;
            flex-basis: 20%;
            align-items: center;
            img{
                display: flex;
                width: 3rem;
                height: 3rem;
                margin-right:0.5rem;
                justify-items: center;
            }
        }
    }
}
