*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: brittany;
    src: url('/font/BrittanySignature.ttf');
}

@import "secciones/header";
@import "secciones/body";
@import "secciones/footer";
@import 'complementos/variables';
@import 'complementos/animaciones';
