*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: brittany;
    src: url("../font/BrittanySignature.ttf");
}
body{
    background-image: url(../img/fondo-rosa.avif);
}
header{
    background-image: url(../img/manocorazon3.jpg)
}
@import 'complementos/variables';
@import "secciones/header";
@import "secciones/body";
@import "secciones/footer";
@import 'complementos/animaciones';
