header{
    #links:hover{
        
            text-decoration: underline;
            font-size: 110%;
            color: var(--background-color-subtitle);
    }
    #banner2{
        li:hover{
            text-decoration: underline;
            text-decoration-color: var(--color-principal);
            font-size: 110%;
            
        }
    }
}
body{
    a{
        p:hover{
            text-decoration: underline;
            font-size: 110%;
        }
        
        img:hover{
            background-color: var(--background-color-subtitle);
            padding: 0.5rem;
            filter: opacity(40%);
        }
    }
    a:active{
        text-decoration: underline;
        background: linear-gradient(to right, var(--color-principal), #e48ead, var(--background-color-subtitle));
        border-radius: 2rem;
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
      
    
}