
:root{
    --color-principal: #ec5749;
    --color-letra-subtitle: #E59890;
    --background-color-subtitle: #c55347;
    --font-family-principal: brittany;
    --font-family-alterna: "Dancing Script", cursive;
}